html {
    font-family: 'varela_round', sans-serif;
    background-color: #222222;
    color: #eeeeee;
}

body {
    max-width: 1200px;
    margin: auto;
}

.container {
    background-color: #222244;
    border-radius: 12px;
    margin: 32px;
    padding: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.container-holder {
    display: flex;
    flex-grow: 2;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.container-item {
    background-color: #444466;
    border-radius: 8px;
    margin: 20px;
    padding: 16px;

    display: flex;
    justify-content: space-around;
    gap: 16px;
    align-items: center;
    width: 384px;
}

.container-item-link:link {
    color: #eeeeee;
    background-color: #444466;
    text-decoration: none;
}

.container-item-link:visited {
    color: #eeeeee;
    background-color: #444466;
    text-decoration: none;
}

.container-item-button:hover {
    background-color: #333355;
    color: #bbbbbb;
}

.container-item-button:active {
    background-color: #222233;
    color: #999999;
}

.header {
    height: 96px;
    padding-left: 6px;
    padding-right: 6px;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.footer {
    height: 48px;
    
    align-items: center;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

.footer-link {
    display: flex; 
    flex-direction: column; 
    gap: 12px; 
    align-items: center;
}

.title {
    justify-self: right;
}

a:link {
    color: #87bad1;
    text-decoration: none;
}

a:visited {
    color: #5f808f;
    text-decoration: none;
}

a:hover {
    color: #5f808f;
    text-decoration: underline;
}

a:active {
    color: #26343a;
}
